@import "tailwindcss";

@theme {
  --font-family-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --animate-spin-slow: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
